<?xml version="1.0"?>
<!--
/**
 * @category  Crankycyclops
 * @package   Crankycyclops_RedditPixel
 * @author    James Colannino
 * @copyright Copyright (c) 2018 James Colannino
 * @license   https://www.gnu.org/licenses/gpl-3.0.en.html GNU General Public License v3
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
	<acl>
		<resources>
			<resource id="Magento_Backend::admin">
				<resource id="Magento_Backend::stores">
					<resource id="Magento_Backend::stores_settings">
						<resource id="Magento_Config::config">
							<resource id="Crankycyclops_RedditPixel::config_system" title="Reddit Conversion Pixel" sortOrder="1" />
						</resource>
					</resource>
				</resource>
			</resource>
		</resources>
	</acl>
</config>

